#nav-bar {
    list-style-type: none; 
    padding-bottom: 20px;
    font-family: 'Arimo', sans-serif;
}
#google-logo {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 100px;
    margin-top: auto;
}
#search-bar {
    display: flex;
    justify-content: center;
    margin: 20px auto 10px auto;
    min-width: 500px;
    width: auto;
    min-height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    background-image: url('outline_search_black_24dp.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.search-buttons {
    font-family: 'Arimo', sans-serif;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

.left-nav {
    float: left;
    padding: 10px;
    align-items: center;
}

.right-nav {
    float: right;
    padding: 10px;
    align-items: center;
}

#google-button {
    display: flex;
    justify-content: center;
    margin: auto 10px;
    background-color: #f5f5f5;
    padding: 5px 20px;
    height: 36px;
    border: 0px;
    border-radius: 5%;
    text-align: center;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
}

#lucky-button {
    display: flex;
    justify-content: center;
    margin: auto 10px;
    background-color: #f5f5f5;
    padding: 5px 20px;
    height: 36px;
    border: 0px;
    border-radius: 5%;
    text-align: center;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
}

#google-button:hover {
    background-color: #ededed;
    border: 1px solid #dadce0;
}

#lucky-button:hover {
    background-color: #ededed;
    border: 1px solid #dadce0;
}

#footer-bar {
    background-color: #f2f2f2;
    font-family: 'Arimo', sans-serif;
    position: absolute;
    width: 100%;
    margin-top: auto;
    bottom: 0;
    height: 45px;
    padding: 10px 10px 0 10px;
}
.right-foot {
    float: right;
    padding: 10px;
}
.left-foot {
    float: left;
    padding: 10px;
}
a:link{
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}